.header{
    margin:0 auto 0 auto;
}
.social{
    padding-right: 10%;
    margin-top:3%;
}
h2{
    margin-top:2%;
}
.backblue
{
    background-color: #000080;
    color:white;
    padding:20px 30px;
    top:0;
    height: 140px;
}
.text-left
{
    text-align: left;
}
.paddingleft
{
    padding-left: 30px;
}
.img-info
{
    float: right;
    width: 135px;
    height: 145px;
    margin-top: -125px;
}